.ResultTable {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  thead {
    background: rgb(235, 235, 235);
    th {
      padding: 10px;
    }
  }
  tbody {
    th {
      padding: 8px 10px;
    }
  }
}
